.banner-section {
    position: relative;
    overflow: hidden;
}

.actor-banner-section {
    height: 450px;
    position: relative;
    overflow: hidden;
}

.banner-background-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.light .banner-background-overlay {
    background-color: rgba(245, 245, 244, 0.3)
}

.dark .banner-background-overlay {
    background-color: rgba(12, 12, 12, 0.55)
}

@media only screen and (min-width: 992px) {
    .actor-banner-section {
        height: 550px;
    }
}
