.banner-section {
    height: 600px;
    position: relative;
    overflow: hidden;
}

.actor-banner-section {
    height: 450px;
    position: relative;
    overflow: hidden;
}

.banner-background-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.light .banner-background-overlay-bottom {
    background: linear-gradient(transparent, rgb(243, 242, 241));
}

.dark .banner-background-overlay-bottom {
    background: linear-gradient(transparent, rgb(24, 24, 27));
}

@media only screen and (min-width: 769px) {
    .banner-section {
        height: 650px;
    }

    .actor-banner-section {
        height: 550px;
    }

    .banner-background-image {
        background-size: 80%;
    }

    .light .banner-background-overlay {
        background: linear-gradient(90deg, rgb(243, 242, 241) 10%, transparent, rgb(243, 242, 241) 90%);
    }

    .dark .banner-background-overlay {
        background: linear-gradient(90deg, rgb(24, 24, 27) 10%, transparent, rgb(24, 24, 27) 90%);
    }
}
