.splide__arrows {
    height: 100%;
    width: 100%;
    display: block;
}

.splide__arrows .splide__arrow {
    position: absolute;
    height: 45px;
    width: 45px;
    opacity: 1;
    border-radius: 100%;
    background-color: unset;
    transition: opacity 0.3s linear, background-color 0.3s;
}

@media only screen and (max-width: 767px) {
    .splide__arrows .splide__arrow {
        display: none;
    }
}

.light .splide__arrows .splide__arrow svg {
    fill: black;
}

.dark .splide__arrows .splide__arrow svg {
    fill: white;
}

.splide__arrows .splide__arrow--prev {
    left: 5px;
}

.splide__arrows .splide__arrow--next {
    right: 5px;
}

.light .splide__arrows .splide__arrow--prev,
.light .splide__arrows .splide__arrow--next {
    background-color: rgba(245, 245, 244, 1);
}

.light .splide__arrows .splide__arrow--prev:hover,
.light .splide__arrows .splide__arrow--next:hover {
    background-color: rgba(255, 255, 255, 1);
}

.dark .splide__arrows .splide__arrow--prev,
.dark .splide__arrows .splide__arrow--next {
    background-color: rgba(24, 24, 27, 1);
}

.dark .splide__arrows .splide__arrow--prev:hover,
.dark .splide__arrows .splide__arrow--next:hover {
    background-color: rgba(0, 0, 0, 1);
}

.splide__arrows .splide__arrow[disabled] {
    opacity: 0;
}
