.footer-background-overlay {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.light .footer-background-overlay {
    background-color: rgba(4, 37, 65, 0.90);
}

.dark .footer-background-overlay {
    background-color: rgba(0, 0, 0, 0.8);
}
